{{decrement-btn action="decrementItem"}}
{{orderItem.quantity}} x {{orderItem.menuItem.menuId}} {{orderItem.menuItem.name}}
<span class="pull-right">
  {{orderItem.displayTotal}}
  {{edit-item-btn}}
  {{edit-item-dropdown itemCategories=orderItem.menuItem.categories}}
</span>