<div>ID {{order.id}}</div>
<div>Ordered at {{format-time order.dateTime}}</div>
<div>
  £{{format-currency order.total}}
  {{#if order.paymentMethod}}
    {{order.paymentMethod}}
  {{else}}
    NOT PAID
  {{/if}}
</div>
<div>
{{#if order.notes}}
    Notes: {{order.notes}}
{{/if}}
</div>
<div>
  {{component (concat "order-" order.customer.customerType) customer=order.customer}}
</div>
<!--
<div>Items:
{{#each order.orderItems as |orderItem|}}
  {{orderItem.quantity}}
  {{orderItem.menuItem}}
{{/each}}
</div>
-->

