<div class="row">
  <div class="col-xs-11">
    <div class="row">
      <div class="col-xs-12">
        {{component (concat "order-" customerType) customer=order.customer}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        £{{format-currency order.total}} {{format-payment-method order.paymentMethod}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        Ordered at {{format-date-time order.dateTime}}
      </div>
    </div>
  </div>

  <div class="col-xs-1">
    <div class="btn-group pull-right">
      {{#btn/btn-default class="btn-default dropdown-toggle order-actions-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
        <span class="glyphicon glyphicon-option-vertical"></span>
      {{/btn/btn-default}}
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a {{action "printOrderAsEatIn"}}>Print small copy</a></li>
        <li><a {{action "printOrderAsDelivery"}}>Print large copy</a></li>
        <!--
        <li role="separator" class="divider"></li>
        <li><a {{action "editOrder"}}>Edit order</a></li>
        -->
      </ul>
    </div>
  </div>
</div>

{{#liquid-if showOrderItems class="toDown-toUp"}}
  {{#if order.notes}}
    <div class="row gutter-top-bottom">
      <div class="col-xs-12">
        {{order.notes}}
      </div>
    </div>
  {{/if}}
  <div class="row gutter-top-bottom">
    <div class="col-xs-12">
      <ul class="list-group">
        {{#each order.orderItems as |orderItem|}}
          <li class="list-group-item">
            {{orderItem.quantity}} x {{orderItem.menuItem.menuId}} {{orderItem.menuItem.name}}
            {{#each orderItem.editOptions as |editOption|}}
              <div>{{editOption.name}}</div>
            {{/each}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/liquid-if}}

<div class="row gutter-top-bottom">
  <div class="col-xs-12">
    {{#if showOrderItems}}
      {{#btn/btn-default class="btn-default btn-lg" action="toggleShowOrderItems"}}
        <span class="glyphicon glyphicon-chevron-up"></span>
      {{/btn/btn-default}}
    {{else}}
      {{#btn/btn-default class="btn-default btn-lg" action="toggleShowOrderItems"}}
        <span class="glyphicon glyphicon-chevron-down"></span>
      {{/btn/btn-default}}
    {{/if}}
  </div>
</div>
