<Modal::Base::Dialog @title={{@title}} @onDismiss={{@onDismiss}} @onConfirm={{@onConfirm}} as |Body Footer onDismiss onConfirm|>
  <Body>
    {{@body}}
  </Body>
  <Footer>
    <button type="button" class="btn btn-main-secondary" {{on "click" onDismiss}}>
      Cancel
    </button>
    <button type="button" class="btn btn-primary" {{on "click" onConfirm}}>
      Confirm
    </button>
  </Footer>
</Modal::Base::Dialog>