<Modal::Base::Dialog @title={{@title}} @onDismiss={{@onDismiss}} @onConfirm={{@onConfirm}} as |Body Footer onDismiss onConfirm|>
  <Body>
    {{@body}}
  </Body>
  <Footer>
    <button type="button" class="btn btn-main-secondary" {{on "click" onDismiss}}>
      Cancel
    </button>
    <button type="button" class="btn {{if @btnClass @btnClass "btn-primary"}}" {{on "click" onConfirm}}>
      {{if @btnText @btnText "Confirm"}}
    </button>
  </Footer>
</Modal::Base::Dialog>