<Modal::Base::Dialog @title="Create table"
                     @onDismiss={{@onDismiss}}
                     @onConfirm={{this.createOrder}} as |Body Footer onDismiss onConfirm|>
  <Body>
  <form novalidate>
    <Form::Group class="mb-3" @validateOnDirty={{true}} @invalidFeedback="Table name must not be empty" as |fg|>
      <label>Table name</label>
      <fg.element @value={{this.newTableName}} @pattern=".+"/>
    </Form::Group>
    <Form::Group class="mb-1" @validateOnDirty={{true}} @invalidFeedback="Must be a number" as |fg|>
      <label>Number of guests</label>
      <fg.element @value={{this.newNumberOfGuests}} @pattern="[0-9]*"/>
    </Form::Group>
    <div class="form-row">
      {{#each this.numberOfGuestChoices as |numberOfGuests|}}
        <div class="col-2">
          <button type="button" class="btn btn-lg btn-block btn-main-secondary px-0 mb-1" {{on "click" (fn this.setNumberOfGuests numberOfGuests)}}>
            {{numberOfGuests}}
          </button>
        </div>
      {{/each}}
    </div>
  </form>
  </Body>
  <Footer>
    <button type="button" class="btn btn-main-secondary" {{on "click" onDismiss}}>
      Cancel
    </button>
    {{#if this.canCreate}}
      <button type="button" class="btn btn-primary" {{on "click" onConfirm}}>
        Create
      </button>
    {{else}}
      <button type="button" class="btn btn-secondary" disabled>
        Create
      </button>
    {{/if}}
  </Footer>
</Modal::Base::Dialog>