<div class="row">
  <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
    {{setting.name}}
  </div>
  <div class="col-12 col-sm-6 text-center">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-lg btn-outline-main mb-0 {{settingOneClass}}" {{action "setSetting" 0}}>
        {{input type="radio" autocomplete="off"}}0
      </label>
      <label class="btn btn-lg btn-outline-main mb-0 {{settingTwoClass}}" {{action "setSetting" 1}}>
        {{input type="radio" autocomplete="off"}}1
      </label>
      <label class="btn btn-lg btn-outline-main mb-0 {{settingThreeClass}}" {{action "setSetting" 2}}>
        {{input type="radio" autocomplete="off"}}2
      </label>
    </div>
  </div>
</div>
