{{#temp/orderpad-wrapper}}

  {{outlet "customer-browser"}}

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">
        <div class="row" id="orderpad-categories">
          <div class="col-sm-12 top-bottom-gutter">
            {{#each model.categories as |item|}}
              {{category-item category=item action="categoryItemClick" selected=categoryFilter}}
            {{/each}}
          </div>
        </div>
        <div class="row scroll-y" id="orderpad-menu">
          <div class="col-sm-12 top-bottom-gutter">
            {{#menu-list menuItems=menu as |menuItem|}}
              {{menu-item menuItem=menuItem action="menuItemClick"}}
            {{/menu-list}}
          </div>
        </div>
      </div>

      <div class="col-sm-6 hidden-xs">
        <div class="row" id="orderpad-header">
          <div class="col-sm-12 top-bottom-gutter">
            <h4 class="text-center">NEW ORDER</h4>
          </div>
        </div>

        <div class="row" id="orderpad-customer">
          <div class="col-sm-12 top-bottom-gutter">
            {{inline-customer-input customer=model.customer
                showCustomerBrowser="showCustomerBrowser"
                hideCustomerBrowser="hideCustomerBrowser"
                setCustomer="setCustomer"
                removeCustomer="removeCustomer"}}
          </div>
        </div>

        <div class="row scroll-y" id="orderpad-orderlist">
          <div class="col-sm-12 top-bottom-gutter">
            <div class="lead">
              {{order-list order=model.order}}
            </div>
          </div>
        </div>

        <div id="orderpad-bottom">
          <div class="row">
            <div class="col-sm-6 text-center top-bottom-gutter">
              <span style="font-size: 80px">{{numpadValue}}</span>
            </div>
            <div class="col-sm-6 text-center top-bottom-gutter">
              {{number-pad value=numpadValue maxLength=4}}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 text-center top-bottom-gutter">
              <span class="lead">ITEMS: {{model.order.size}}</span>
            </div>
            <div class="col-sm-6 text-center top-bottom-gutter">
              <span class="lead">TOTAL: {{model.order.displayTotal}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 top-bottom-gutter">
              {{#btn-button class="btn-danger btn-cancel" action="cancelOrder" disabled=emptyOrder}}CANCEL{{/btn-button}}
            </div>
            <div class="col-sm-6 top-bottom-gutter">
              {{#btn-button class="btn-success btn-submit" action="submitOrder" disabled=invalidOrder}}SUBMIT{{/btn-button}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{#orderpad-modal order=model.order title="Order Items"}}
    <div class="modal-body">
      <small>
        {{order-list order=model.order}}
      </small>
    </div>
    <div class="modal-footer">
      <div class="row">
        ITEMS: {{model.order.size}}
        TOTAL: {{model.order.displayTotal}}
      </div>
      <div class="row">
        {{#btn-button class="btn-danger btn-cancel" action="cancelOrder" disabled=emptyOrder}}CANCEL{{/btn-button}}
        {{#btn-button class="btn-success btn-submit" action="submitOrder" disabled=invalidOrder}}SUBMIT{{/btn-button}}
        {{#btn-button class="btn-default btn-close" data-dismiss="modal"}}CLOSE{{/btn-button}}
      </div>
    </div>
  {{/orderpad-modal}}

  {{edit-item-modal order=model.order editCategories=model.editCategories editOptions=model.editOptions}}

  {{#btn-button class="btn-default toggle-menu" data-toggle="modal" data-target="#orderpad-modal"}}
    {{model.order.size}}
    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
  {{/btn-button}}

{{/temp/orderpad-wrapper}}
