<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <div id="orderpad-categories">
        <div class="row">
          {{#each item in model.categories}}
            {{category-item category=item action="categoryItemClick" selected=filter}}
          {{/each}}
        </div>
      </div>
      <div id="orderpad-menu" class="scroll-y">
        <ul class="list-group">
          {{#each item in model.menu}}
            {{menu-item-component menuItem=item action="menuItemClick"}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div id="orderpad-header">
        <h4 class="text-center">NEW ORDER</h4>
      </div>
      <div id="orderpad-customer">
        {{customer-selector order=model.order}}
      </div>
      <div id="orderpad-order" class="scroll-y">
        {{#order-list order=model.order}}
          {{submit-btn action="submitOrder"}}
          {{cancel-btn action="cancelOrder"}}
        {{/order-list}}
      </div>
    </div>
  </div>
</div>

{{#orderpad-modal order=model.order title="Order Items"}}
  {{submit-btn action="submitOrder"}}
  {{cancel-btn action="cancelOrder"}}
{{/orderpad-modal}}

{{edit-item-modal order=model.order editOptions=model.editOptions}}

{{#toggle-menu}}
  {{model.order.size}}
{{/toggle-menu}}