<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <div id="orderpad-categories">
        <div class="row">
          {{#each item in model.categories}}
            {{category-item category=item action="categoryItemClick"}}
          {{/each}}
        </div>
      </div>
      <div id="orderpad-menu">
        {{outlet "menu"}}
      </div>
    </div>

    <div class="col-sm-6">
      <div id="orderpad-order">

        {{outlet}}

        {{#order-list order=model.order}}
          {{submit-btn action="submitOrder"}}
          {{cancel-btn action="cancelOrder"}}
        {{/order-list}}
      </div>

      {{#orderpad-modal order=model.order title="Order Items"}}
        {{submit-btn action="submitOrder"}}
        {{cancel-btn action="cancelOrder"}}
      {{/orderpad-modal}}

      {{edit-item-modal order=model.order editOptions=model.editOptions}}

      {{#toggle-menu}}
        {{model.order.size}}
      {{/toggle-menu}}
    </div>

  </div>
</div>