{{#if featureFlags.NAV_BAR_ENABLED}}
  {{talaythai-nav}}
  <div style="padding-top:50px"></div>
{{/if}}

{{outlet "confirm-order"}}

{{outlet "customer-browser"}}

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 visible-xs no-padding" id="orderpad-customer-small">
      {{inline-customer-input customer=customer
          setCustomer="setCustomer"
          removeCustomer="removeCustomer"}}
    </div>

    <div class="col-xs-12 col-sm-7 col-md-8">
      <div class="row" id="orderpad-categories">
        {{category-list categories=model.categories
            onCategorySelected=(action "selectMenuCategory")
            selectedCategory=selectedCategory}}
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8 scroll-y" style="padding:8px" id="orderpad-menu">
          {{menu-list menu=model.menu
              onMenuItemClick=(action "addMenuItem")
              categoryFilter=selectedCategory
              menuIdFilter=numpadValue}}
        </div>
        <div class="hidden-xs col-sm-5 col-md-4 text-center no-padding" id="orderpad-numpad">
          <div class="col-xs-12" style="position:absolute; width=100%; bottom:0;">
            <span style="font-size: 80px">{{numpadValue}}</span>
            {{number-pad value=numpadValue maxLength=4}}
          </div>
        </div>
      </div>
    </div>

    <div class="hidden-xs col-sm-5 col-md-4">
      <div class="row" id="orderpad-customer">
        <div class="col-sm-12 no-padding">
          {{inline-customer-input customer=customer
              setCustomer="setCustomer"
              removeCustomer="removeCustomer"}}
        </div>
      </div>

      <div id="orderpad-orderlist" class="row scroll-y">
        <div class="col-sm-12">
          <div class="lead">
            {{order-list order=model.order}}
          </div>
        </div>
      </div>

      <div id="orderpad-bottom" class="row">
        <div class="col-xs-12">
          <div class="row gutter-top-bottom">
            <div class="col-xs-6 text-center">
              <span class="lead">ITEMS: {{model.order.size}}</span>
            </div>
            <div class="col-xs-6 text-center">
              <span class="lead">TOTAL: {{format-currency model.order.total}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 no-padding">
              {{#btn/btn-confirm class="btn-danger btn-lg" showMessage="showMessage"
                  disabled=cannotCancelOrder
                  confirm=(action "cancelOrder")
                  message="Cancel the order?"}}
                CANCEL ORDER
              {{/btn/btn-confirm}}
            </div>
            <div class="col-xs-6 no-padding">
              {{#btn/btn-default class="btn-success btn-lg" action="showConfirmOrder"
                  disabled=invalidOrder}}
                SUBMIT ORDER
              {{/btn/btn-default}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{{#orderpad-modal order=model.order title="Order Items"}}
  <div class="modal-body" style="padding: 0px;">
    <small>
      {{order-list order=model.order}}
    </small>
  </div>
  <div class="modal-footer" style="border-top:none;">

    <div class="gutter-top-bottom">
      <div class="col-xs-6 text-center">
        <span class="lead">ITEMS: {{model.order.size}}</span>
      </div>
      <div class="col-xs-6 text-center">
        <span class="lead">TOTAL: {{format-currency model.order.total}}</span>
      </div>
    </div>

    <div class="row" style="padding-left:2px; padding-right:2px">
      <div class="col-xs-6 no-padding">
        {{#btn/btn-default class="btn-danger btn-lg" action="cancelOrder" disabled=cannotCancelOrder}}
          CANCEL ORDER
        {{/btn/btn-default}}
      </div>
      <div class="col-xs-6 no-padding">
        {{#btn/btn-default class="btn-success btn-lg" action="showConfirmOrder" disabled=invalidOrder}}
          SUBMIT ORDER
        {{/btn/btn-default}}
      </div>
      <div class="col-xs-12 no-padding">
        {{#btn/btn-default class="btn-default btn-lg" data-dismiss="modal"}}CLOSE{{/btn/btn-default}}
      </div>
    </div>
  </div>
{{/orderpad-modal}}

{{edit-item-modal order=model.order editCategories=model.editCategories editOptions=model.editOptions}}

{{#btn/btn-default class="btn-default btn-lg toggle-menu" data-toggle="modal" data-target="#orderpad-modal"}}
  {{model.order.size}}
  <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
{{/btn/btn-default}}
