{{#temp/orderpad-wrapper}}

  {{outlet "customer-select"}}

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">
        <div id="orderpad-categories">
          <div class="row">
            {{#each model.categories as |item|}}
              {{category-item category=item action="categoryItemClick" selected=filter}}
            {{/each}}
          </div>
        </div>
        <div id="orderpad-menu" class="scroll-y">
          {{#menu-list menuItems=menu as |menuItem|}}
            {{menu-item menuItem=menuItem action="menuItemClick"}}
          {{/menu-list}}
        </div>
      </div>

      <div class="col-sm-6">
        <div id="orderpad-wrapper">

          <div id="orderpad-header">
            <h4 class="text-center">NEW ORDER</h4>
          </div>
          <div id="orderpad-customer">
            <div class="row">
              {{#if order.customer}}
                <h4>Customer Present</h4>
              {{else}}
                <button class="col-xs-10 col-xs-offset-1 btn btn-main" {{action "showCustomerSelect"}}>Select Customer</button>
              {{/if}}
            </div>
          </div>
          <div id="orderpad-order" class="scroll-y">
            {{order-list order=model.order}}
            {{submit-btn action="submitOrder" disabled=invalidOrder}}
            {{cancel-btn action="cancelOrder" disabled=emptyOrder}}
          </div>
          
        </div>
      </div>
    </div>
  </div>

  {{#orderpad-modal order=model.order title="Order Items"}}
    {{submit-btn action="submitOrder" disabled=invalidOrder}}
    {{cancel-btn action="cancelOrder" disabled=emptyOrder}}
  {{/orderpad-modal}}

  {{edit-item-modal order=model.order editOptions=model.editOptions}}

  {{#toggle-menu}}
    {{model.order.size}}
  {{/toggle-menu}}

{{/temp/orderpad-wrapper}}
