<div class="customer-browser container-fluid">

    <div class="customer-browser_top gutter-top-bottom">
      <div class="row gutter-top-bottom">
        <div class="col-xs-12">
          <form class="form-horizontal">

            {{#form-group label="Telephone" hasError=customer.invalidTelephone}}
              <div class="input-group">
                {{input class="form-control" type="number" placeholder="Telephone" value=customer.telephone}}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-earphone"></span>
                </span>
              </div>
            {{/form-group}}

            {{form-group label="Flat/House" type="text" placeholder="Flat or house number" value=customer.addressOne hasError=customer.invalidAddress}}

            {{#form-group label="Road" hasError=customer.invalidAddress}}
              <div class="dropdown">
                {{input id="addressSuggestionDropdownTrigger" class="form-control" type="text" placeholder="Road" value=customer.addressTwo data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
                <ul class="dropdown-menu" style="width: 100%;">
                  {{#each roadSuggestions as |road index|}}
                    <li>
                      <a class="lead"{{action "setAddressTwo" road.name}}>{{road.name}}</a>
                    </li>
                    {{#unless (is-equal index (minus roadSuggestions.length 1))}}
                      <!-- Do not add separator if last element -->
                      <li role="separator" class="divider"></li>
                    {{/unless}}
                  {{else}}
                    {{#if roadSuggestionError}}
                      <li><a>Error while searching</a></li>
                    {{else}}
                      <li><a>No suggestions</a></li>
                    {{/if}}
                  {{/each}}
                </ul>
              </div>
            {{/form-group}}

            {{#form-group label="Postcode" hasError=customer.invalidPostcode}}
              <div class="dropdown">
                {{input id="postcodeSuggestionDropdownTrigger" class="form-control" type="text" placeholder="Postcode" value=customer.postcode data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
                <ul class="dropdown-menu lead" style="width: 100%;">
                  {{#each postcodeSuggestions as |postcode index|}}
                    <li>
                      <a class="lead"{{action "setPostcode" postcode.postcode}}>{{postcode.postcode}}</a>
                    </li>
                    {{#unless (is-equal index (minus postcodeSuggestions.length 1))}}
                      <!-- Do not add separator if last element -->
                      <li role="separator" class="divider"></li>
                    {{/unless}}
                  {{else}}
                    {{#if postcodeSuggestionError}}
                      <li><a>Error while searching</a></li>
                    {{else}}
                      <li><a>No suggestions</a></li>
                    {{/if}}
                  {{/each}}
                </ul>
              </div>
            {{/form-group}}

          </form>
        </div>
      </div>

      {{#unless canSaveCustomer}}
        <div class="row gutter-top-bottom">
          <div class="col-xs-12 col-sm-offset-2 col-sm-9">
            {{#alert-box alertType=(if validCustomer "info" "danger")}}
              {{if customer.invalidTelephone customer.invalidTelephoneReason}}
              {{if customer.invalidAddress customer.invalidAddressReason}}
              {{if customer.invalidPostcode customer.invalidPostcodeReason}}
              Must be unique to save customer
            {{/alert-box}}
          </div>
        </div>
      {{/unless}}

      <div class="row gutter-top-bottom">

        {{#if canSaveCustomer}}
          <div class="col-xs-6 col-sm-offset-1 col-sm-5">
            {{#btn/btn-default class="btn-default btn-lg" action="cancel"}}
              Cancel
            {{/btn/btn-default}}
          </div>
          <div class="col-xs-6 col-sm-5">
            {{#btn/btn-default class="btn-primary btn-lg" action="saveAndSelectCustomer"}}
              Save
            {{/btn/btn-default}}
          </div>
        {{else}}
          <div class="col-xs-12 col-sm-offset-6 col-sm-5">
            {{#btn/btn-default class="btn-default btn-lg" action="cancel"}}
              Cancel
            {{/btn/btn-default}}
          </div>
        {{/if}}

      </div>

    </div>

    <div class="customer-browser_bottom scroll-y">
      <div class="row gutter-top-bottom">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">

          {{#if debouncedSearch}}
            {{loading-spinner text="Searching customers..."}}
          {{else}}
            {{#if deliveryCustomerResults}}
              <ul class="list-group">
                {{#each deliveryCustomerResults as |customer|}}
                  {{delivery-customer-list-item customer=customer onClick=(action "selectDeliveryCustomer" customer)}}
                {{/each}}
              </ul>
            {{else}}
              {{#if hasCustomerQuery}}
                <div class="text-center">
                  <div class="text-muted">No customers were found</div>
                </div>
              {{/if}}
            {{/if}}
          {{/if}}

        </div>
      </div>
    </div>
  </div>