<div class="table-id text-center lead">
  <strong>{{table.tableId}}</strong>
</div>

<div class="dropdown">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="status {{table.status}}"></span>
    {{displayStatus}}
  </button>
  <ul class="dropdown-menu">

    {{#if isAvailable}}
      <li><a {{action "selectTable"}}>Create order</a></li>
    {{else}}
      {{#if isOccupied}}
        <li><a {{action "requestPayment"}}>Request Bill</a></li>
      {{else}}
        <li><a {{action "completeOrder"}}>Complete order</a></li>
      {{/if}}
      <li><a {{action "viewOrder"}}>View order</a></li>
    {{/if}}

  </ul>
</div>
