<form novalidate class="flex-shrink-0">
  <Form::Group class="row mt-2 mb-1" as |fg|>
    <label class="col-sm-2 col-form-label d-none d-sm-block">Telephone</label>
    <div class="col-12 col-sm-10">
      <fg.element @placeholder="Telephone" @value={{this.telephone}} @onInput={{fn this.onTelephoneInput}}/>
    </div>
  </Form::Group>
  <Form::Group class="row mb-1" as |fg|>
    <label class="col-sm-2 col-form-label d-none d-sm-block">House no.</label>
    <div class="col-12 col-sm-10">
      <fg.element @placeholder="House no." @value={{this.addressOne}} @onInput={{fn this.onAddressOneInput}}/>
    </div>
  </Form::Group>
  <Form::Group class="row mb-1" as |fg|>
    <label class="col-sm-2 col-form-label d-none d-sm-block">Road</label>
    <div class="col-12 col-sm-10">
      <fg.element autocomplete="off"
                  @placeholder="Road"
                  @value={{this.road}}
                  @onInput={{fn this.onRoadInput}}
                  @suggestions={{this.roadSearchResults}}
                  @onSuggestionSelected={{this.setRoadFromSuggestion}}/>
    </div>
  </Form::Group>
  <Form::Group class="row" as |fg|>
    <label class="col-sm-2 col-form-label d-none d-sm-block">Postcode</label>
    <div class="col-12 col-sm-10">
      <fg.element autocomplete="off"
                  @placeholder="Postcode"
                  @value={{this.postcode}}
                  @onInput={{fn this.onPostcodeInput}}
                  @suggestions={{this.postcodeSearchResults}}
                  @onSuggestionSelected={{this.setPostcodeFromSuggestion}}/>
    </div>
  </Form::Group>
</form>
{{yield (hash
            telephone=this.telephone
            addressOne=this.addressOne
            road=this.road
            postcode=this.postcode
            onTelephoneInput=this.onTelephoneInput
            onAddressOneInput=this.onAddressOneInput
            onRoadInput=this.onRoadInput
            onPostcodeInput=this.onPostcodeInput
            setRoadFromSuggestion=this.setRoadFromSuggestion
            setPostcodeFromSuggestion=this.setPostcodeFromSuggestion
            roadSearchResults=this.roadSearchResults
            postcodeSearchResults=this.postcodeSearchResults
            deliveryCustomerSearchResults=this.deliveryCustomerSearchResults
            searching=this.searching)}}