<div class="row order_edit_right_customer">
  <div class="col">
    <div class="dropdown">
      <button type="button" class="btn btn-lg btn-block btn-main" data-toggle="dropdown" aria-expanded="false">
        New customer
      </button>
      <div class="dropdown-menu">
        <button type="button" class="dropdown-item">Takeaway</button>
        <button type="button" class="dropdown-item">Delivery</button>
        <button type="button" class="dropdown-item">Online</button>
      </div>
    </div>
  </div>
</div>
<div class="row order_edit_right_order_items">
  <div class="col">
    {{#each orderService.items as |item|}}
      {{order-item item=item onDecrement=(action "decrementItem")}}
    {{/each}}
  </div>
</div>
{{#if orderService.size}}
  <div class="row order_edit_right_order_info text-center">
    <div class="col">
      {{orderService.size}} item{{#unless (is-equal 1 orderService.size)}}s{{/unless}}
    </div>
    <div class="col">
      £{{format-currency orderService.total}}
    </div>
  </div>
{{/if}}
<div class="row order_edit_right_actions">
  <div class="col">
    <button type="button" class="btn btn-lg btn-block btn-danger" disabled={{cannotCancelOrder}} {{action "confirmCancelOrder"}}>Cancel</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-lg btn-block btn-success" disabled={{invalidOrder}}>Submit</button>
  </div>
</div>