<div class="delivery-customer-index">
  <div class="row pt-2 delivery-customer-index_title">
    <div class="col-2 d-flex align-items-center">
      {{#link-to "index" classNames="btn btn-link"}}
        &lt; Back
      {{/link-to}}
    </div>
    <div class="col-8 text-center">
      <h2>Delivery customers</h2>
    </div>
  </div>

  {{delivery-customer-search customer=model
                             onSearchStatusChange=(action "updateSearchInProgress")
                             onSearch=(action "setDeliveryCustomers")}}

  <div class="row delivery-customer-index_results">
    <div class="col-12 offset-sm-1 col-sm-10">
      {{#if searchInProgress}}
        {{loading-spinner text="Searching customers..."}}
      {{else}}
        {{#if deliveryCustomerResults}}
          <ul class="list-group">
            {{#each deliveryCustomerResults as |customer|}}
              <button type="button" class="list-group-item list-group-item-action" {{action "editCustomer" customer}}>
                <div>
                  {{customer.address}}<br>
                  {{customer.postcode}}<br>
                  {{customer.telephone}}
                </div>
              </button>
            {{/each}}
          </ul>
        {{else}}
          {{#if validQuery}}
            <div class="text-center">
              <div class="text-muted">No customers found</div>
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
