<div class="order-item__top" {{action "toggleExpanded"}}>
  <div class="order-item__top-right">
    <span class="order-item__total">
      {{format-currency item.total}}
    </span>
  </div>
  <div class="order-item__top-left">
    <span class="order-item__quantity-x-id">
      <strong>
        {{#if item.menuItem.menuId}}
          {{item.quantity}} x {{item.menuItem.menuId}}
        {{else}}
          {{item.quantity}} x
        {{/if}}
      </strong>
    </span>
    <span class="order-item__name">
      {{item.menuItem.name}}
    </span>
  </div>
  {{#each item.editOptions as |option|}}
    <div class="order-item__edit-option text-muted">
      {{#if option.price}}
        {{option.name}} ({{format-currency option.price}})
      {{else}}
        {{option.name}}
      {{/if}}
    </div>
  {{/each}}
</div>

{{#liquid-if expanded class="toDown-toUp"}}
  {{#if expanded}}
    <div class="order-item__bottom">
      <div class="order-item__decrement" {{action "decrementItem" item}}>
        <span class="glyphicon glyphicon-minus"></span>
      </div>
      <div class="order-item__quantity">
        {{item.quantity}}
      </div>
      <div class="order-item__increment" {{action "incrementItem" item}}>
        <span class="glyphicon glyphicon-plus"></span>
      </div>
      {{#if item.menuItem.editCategories}}
        <a class="order-item__edit-btn" data-toggle="modal" data-target="#edit-item-modal" {{action "onEditItem" item}}>
          <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        </a>
      {{else}}
        <a class="order-item__edit-btn">
          <span class="glyphicon glyphicon-none"></span>
        </a>
      {{/if}}
    </div>
  {{/if}}
{{/liquid-if}}
