<nav class="navbar navbar-dark bg-dark">
  <div class="flex-even">
    <LinkTo @route="index" @tagName="button" type="button" @class="btn btn-outline-light">
      Back
    </LinkTo>
  </div>
  <span class="navbar-brand d-flex flex-even justify-content-center">Eat in</span>
  <div class="dropdown flex-even d-flex justify-content-end">
    <button class="btn btn-outline-light dropdown-toggle" type="button" id="order-summary-btn" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Summary
    </button>
    <div class="dropdown-menu dropdown-menu-right px-3 text-nowrap" aria-labelledby="order-summary-btn">
      <div class="d-flex">
        <div class="d-flex flex-column">
          <div class="mr-3">Cash</div>
          <div class="mr-3">Card</div>
          <div class="mr-3">Online</div>
          <div class="mr-3">Not paid</div>
          <hr class="w-100">
          <div class="mr-3">Total</div>
        </div>
        <div class="d-flex flex-column align-items-end">
          <div class="mr-3">{{this.cashOrders.length}}</div>
          <div class="mr-3">{{this.cardOrders.length}}</div>
          <div class="mr-3">{{this.onlinePaymentOrders.length}}</div>
          <div class="mr-3">{{this.notPaidOrders.length}}</div>
          <hr class="w-100">
          <div class="mr-3">{{this.model.length}}</div>
        </div>
        <div class="d-flex flex-column align-items-end">
          <div>{{format-currency this.totalCash}}</div>
          <div>{{format-currency this.totalCard}}</div>
          <div>{{format-currency this.totalOnlinePayment}}</div>
          <div>{{format-currency this.totalNotPaid}}</div>
          <hr class="w-100">
          <div>{{format-currency this.totalAll}}</div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col text-center" test-id="payment-type-filters">
      {{#each this.paymentTypes as |paymentType|}}
        {{#let (contains this.paymentTypesToShow paymentType) as |isActive|}}
          <button type="button" class="btn mb-3 {{if isActive "btn-primary" "btn-main-secondary"}}"
            {{on "click" (fn this.togglePaymentTypeFilter paymentType)}}>
            {{paymentType}}
          </button>
        {{/let}}
      {{/each}}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <button type="button" class="btn btn-main-secondary btn-lg btn-block" test-id="show-inprogress-btn" {{on "click" this.toggleShowInProgress}}>
        {{#if this.showInProgress}}
          <span class="icon-24 icon-chevron-up align-middle"></span>
        {{else}}
          <span class="icon-24 icon-chevron-down align-middle"></span>
        {{/if}}
        In progress <span class="badge badge-secondary">{{this.notPaidOrdersByTimestamp.length}}</span>
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      {{#if this.showInProgress}}
        {{#each this.notPaidOrdersByTimestamp as |order|}}
          <Order::EatInCard @order={{order}} @onPrintOrder={{this.printOrder}} />
        {{else}}
          <div class="my-3 text-center text-muted">
            No orders to display
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <button type="button" class="btn btn-main-secondary btn-lg btn-block" test-id="show-completed-btn" {{on "click" this.toggleShowCompleted}}>
        {{#if this.showCompleted}}
          <span class="icon-24 icon-chevron-up align-middle"></span>
        {{else}}
          <span class="icon-24 icon-chevron-down align-middle"></span>
        {{/if}}
        Completed orders <span class="badge badge-secondary">{{this.paidOrdersByTimestamp.length}}</span>
      </button>
    </div>
  </div>
  <div class="row pb-3 mb-5">
    <div class="col">
      {{#if this.showCompleted}}
        {{#each this.paidOrdersByTimestamp as |order|}}
          <Order::EatInCard @order={{order}} @onPrintOrder={{this.printOrder}} />
        {{else}}
          <div class="my-3 text-center text-muted">
            No orders to display
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>

{{#if this.showNewOrderModal}}
  <EmberWormhole @to={{this.ui.appModalContainerId}}>
    <Modal::CreateEatIn @onDismiss={{this.toggleCreateModal}}
                        @onCreateOrder={{this.onCreateOrder}} />
  </EmberWormhole>
{{/if}}

<button class="btn btn-lg btn-primary fixed-bottom-right-btn shadow mb-3 mr-3" type="button" {{on "click"
                                                                                                  this.toggleCreateModal}}>
  Create
</button>
