<h4 class="text-center">{{title}}</h4>
<div>
  {{#each item in order.orderItems}}
    <li class="list-group-item clearfix">
      {{decrement-btn action="decrementItem" orderItem=item}}
      {{item.quantity}} x {{item.menuItem.menuId}} {{item.menuItem.name}}
      {{#each option in item.editOptions}}
        <br>
        {{option.name}} {{#if option.displayPrice}}({{option.displayPrice}}){{/if}}
      {{/each}}
      <span class="pull-right">
        {{item.displayTotal}}
        <a class="edit-item-btn" {{action "editItem" item order}} data-toggle="modal" data-target="#edit-item-modal">
          <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        </a>
      </span>
    </li>
  {{/each}}
</div>
<div id="orderpad-summary">
  ITEMS: {{order.size}} <br>
  TOTAL: {{order.displayTotal}}
</div>

{{yield}}