<h4 class="text-center">{{title}}</h4>
<div>
  {{#each order.orderItems as |item|}}
    <li class="list-group-item clearfix">
      {{decrement-btn action="decrementItem" orderItem=item}}
      <a {{action "incrementItem" item}}>
        <b>{{item.quantity}} x {{item.menuItem.menuId}}</b> {{item.menuItem.name}}
      </a>
      {{#each item.editOptions as |option|}}
        <div class="order-edit-option">
          {{option.name}} {{#if option.displayPrice}}({{option.displayPrice}}){{/if}}
        </div>
      {{/each}}
      <div class="pull-right">
        {{item.displayTotal}}
        {{#if item.menuItem.editCategories}}
          <a class="edit-item-btn" {{action "editItem" item order}} data-toggle="modal" data-target="#edit-item-modal">
            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
          </a>
        {{/if}}
      </div>
    </li>
  {{/each}}
</div>
<div id="orderpad-summary">
  ITEMS: {{order.size}} <br>
  TOTAL: {{order.displayTotal}}
</div>