<div class="dropdown">
  {{input type="text" class="form-control suggestionDropdownTrigger" placeholder=placeholder value=value autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
  <div class="dropdown-menu w-100 full-tap-dropdown">
    {{#each suggestions as |suggestion index|}}
      <a class="dropdown-item" {{action "setValue" suggestion}}>{{suggestion}}</a>
      {{#unless (is-equal index (minus suggestions.length 1))}}
        <div class="dropdown-divider"></div>
      {{/unless}}
    {{else}}
      {{#if suggestionError}}
        <a class="dropdown-item">Error while searching</a>
      {{else}}
        <a class="dropdown-item">No suggestions</a>
      {{/if}}
    {{/each}}
  </div>
</div>