{{#if item.menuItem.menuId}}
  <strong>{{item.quantity}} x {{item.menuItem.menuId}}</strong>&nbsp;{{item.menuItem.name}}
{{else}}
  <strong>{{item.quantity}} x</strong>&nbsp;{{item.menuItem.name}}
{{/if}}

{{#each item.editOptions as |option|}}
  <div class="order-item_edit-option text-muted">
    {{#if option.price}}
      {{option.name}} ({{format-currency option.price}})
    {{else}}
      {{option.name}}
    {{/if}}
  </div>
{{/each}}

{{#if expanded}}
  <div class="order-item_expanded-content d-flex justify-content-between align-items-center">
    <button type="button" class="btn btn-outline-danger" {{action "decrement" bubbles=false}}>-</button>
    £{{format-currency item.total}}
    <button type="button" class="btn btn-outline-success" {{action "increment" bubbles=false}}>+</button>
  </div>
  {{#if item.menuItem.editCategories}}
    <div class="order-item_expanded-content">
      <button type="button" class="btn btn-block btn-outline-warning" {{action "toggleEdit" bubbles=false}}>Edit</button>
    </div>
  {{/if}}
{{/if}}

{{#if editing}}
  {{#bootstrap-modal title=item.menuItem.name onDismissed=(action "toggleEdit") onConfirm=(action "toggleEdit")}}
    <div class="btn-group" style="width: 100%">
      {{#each item.menuItem.editCategories as |editCategory|}}
        <button type="button" style="width: 33.33%" class="btn btn-secondary" {{action "setSelectedEditCategory" editCategory}}>{{editCategory.name}}</button>
      {{/each}}
    </div>
    <div class="order-item_edit-option-toggles">
      {{#each filteredEditOptions as |editOption|}}
        <div class="form-check">
          <label class="form-check-label" style="width: 100%">
            <input type="checkbox" class="form-check-input" checked={{contains item.editOptions editOption}} onchange={{action "toggleEditOption" editOption}}>
            {{#if editOption.price}}
              {{editOption.name}} ({{format-currency editOption.price}})
            {{else}}
              {{editOption.name}}
            {{/if}}
          </label>
        </div>
      {{/each}}
    </div>
  {{/bootstrap-modal}}
{{/if}}

