<div class="card mb-3">
  <div class="card-body">
    <p class="text-center">
      {{@customer.telephone}}<br>
      {{#if @customer.addressOne}}{{@customer.addressOne}}<br>{{/if}}
      {{#if @customer.road}}{{@customer.road}}<br>{{/if}}
      {{@customer.postcode}}
    </p>
    <div class="d-flex justify-content-between">
      <ButtonWithConfirm class="btn-danger"
                         @confirmTitle="Delete customer"
                         @confirmMessage="Are you sure you want to delete this customer?"
                         @confirmBtnClass="btn-danger"
                         @confirmBtnText="Delete"
                         @onConfirm={{fn @onDelete @customer}}>
        Delete
      </ButtonWithConfirm>
    </div>
  </div>
</div>