{{#if customer.customerType}}

  <button {{action "removeCustomer"}}
      type="button"
      class="close"
      aria-label="Close"
      style="padding:6px;">
    <span aria-hidden="true">&times;</span>
  </button>
  {{component (concat 'selected-' customer.customerType) customer=customer}}

{{else}}

  <div class="col-xs-10 col-xs-offset-1">
    {{#btn-button class="col-xs-12 btn-main" data-toggle="dropdown"}}
      Select Customer
    {{/btn-button}}

    <ul class="dropdown-menu" style="width: 100%;">
      <!--<li><a {{action "setCustomer" "restaurant-customer"}}>Eat in</a></li>-->
      <!--<li role="separator" class="divider"></li>-->
      <li><a {{action "setCustomer" "takeaway-customer"}}>Take away</a></li>
      <li role="separator" class="divider"></li>
      <li><a {{action "setCustomer" "delivery-customer"}}>Delivery</a></li>
    </ul>
  </div>

{{/if}}