{{#if customer.customerType}}

  <button {{action "removeCustomer"}}
      type="button"
      class="close"
      aria-label="Close"
      style="padding:6px;">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="top-bottom-gutter bottom-divider">
    {{component (concat 'selected-' customer.customerType) customer=customer}}
    {{#unless validCustomer}}
      {{#alert-box classNames="col-xs-offset-1 col-xs-10" alertType="info"}}
        Please enter a name and an 11 digit contact number
      {{/alert-box}}
    {{/unless}}
  </div>

{{else}}

  <div class="col-xs-12">
    {{#btn-button class="col-xs-12 btn-danger btn-lg" data-toggle="dropdown"}}
      Select Customer
    {{/btn-button}}

    <ul class="dropdown-menu" style="width: 100%;">
      <li><a {{action "setCustomer" "takeaway-customer"}}>Take away</a></li>
      <li role="separator" class="divider"></li>
      <li><a {{action "setCustomer" "delivery-customer"}}>Delivery</a></li>
    </ul>
  </div>

{{/if}}