{{#if customer}}
  {{component (concat 'inline-customer-input/selected/' customerType) customer=customer focus=focus}}
{{else}}
  <div class="dropdown">
    <button type="button" class="btn btn-lg btn-block btn-main dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      New customer
    </button>
    <div class="dropdown-menu w-100 full-tap-dropdown">
      <a class="dropdown-item"{{action "onSelectTakeaway"}}>Take away</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"{{action "onSelectDelivery"}}>Delivery</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"{{action "onSelectOnline"}}>Online</a>
    </div>
  </div>
{{/if}}