<div class="form-group">
  <label class="col-sm-2 hidden-xs control-label">{{label}}</label>
  <div class="col-sm-9">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{input class="form-control" type=type placeholder=placeholder value=value readonly=readonly disabled=disabled}}
    {{/if}}
  </div>
  {{#if hasError}}
    {{#if helpText}}
      <div class="col-sm-offset-2 col-sm-9">
        <span class="help-block">{{helpText}}</span>
      </div>
    {{/if}}
  {{/if}}
</div>
