<div class="form-group">
  <label class="{{labelCol}} hidden-xs control-label">{{label}}</label>
  <div class="{{inputCol}}">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{input class="form-control" type=type placeholder=placeholder value=value readonly=readonly disabled=disabled}}
    {{/if}}
  </div>
  {{#if hasError}}
    {{#if helpText}}
      <div class="{{helpCol}}">
        <span class="help-block">{{helpText}}</span>
      </div>
    {{/if}}
  {{/if}}
</div>
