<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h2>Orders</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <ul class="list-group">
        {{#each model as |order|}}
          <div class="list-group-item">
            <div>ID: {{order.id}}</div>
            <div>Ordered at {{format-time order.dateTime}}</div>
            {{#if order.notes}}
              <div>Notes: {{order.notes}}</div>
            {{/if}}
            <div>Total: £{{order.displayTotal}}
              {{#if order.paymentMethod}}
                PAID {{order.paymentMethod}}
              {{else}}
                NOT PAID
              {{/if}}
            </div>
            <!--<div>Customer: {{order.customer.customerType}} {{order.customer}}</div>-->
            <!--
            <div>Items:
              {{#each order.orderItems as |orderItem|}}
                {{orderItem.quantity}}
                {{orderItem.menuItem}}
              {{/each}}
            </div>
            -->
          </div>
        {{/each}}
      </ul>
    </div>
  </div>
</div>