<div class="keypad-container">
  <div class="row">
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "1"}}>1</button>
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "2"}}>2</button>
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "3"}}>3</button>
  </div>
  <div class="row">
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "4"}}>4</button>
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "5"}}>5</button>
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "6"}}>6</button>
  </div>
  <div class="row">
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "7"}}>7</button>
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "8"}}>8</button>
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "9"}}>9</button>
  </div>
  <div class="row">
    <button class="btn btn-default btn-numpad" {{action "numpadBackspace"}}>
      <span class="glyphicon glyphicon-menu-left"></span>
    </button>
    <button class="btn btn-default btn-numpad" {{action "numpadClick" "0"}}>0</button>
    <button class="btn btn-default btn-numpad" {{action "numpadClear"}}>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>
