<div class="keypad-container">
  <div class="row">
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "1"}}>1</button>
    </div>
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "2"}}>2</button>
    </div>
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "3"}}>3</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "4"}}>4</button>
    </div>
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "5"}}>5</button>
    </div>
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "6"}}>6</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "7"}}>7</button>
    </div>
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "8"}}>8</button>
    </div>
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "9"}}>9</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadBackspace"}}>&lt;</button>
    </div>
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClick" "0"}}>0</button>
    </div>
    <div class="col-4 px-0">
      <button class="btn btn-secondary btn-lg btn-block" {{action "numpadClear"}}>X</button>
    </div>
  </div>
</div>
