<div class="container-fluid h-100">
  <OrderPad @categories={{this.model.categories}}
            @menuItems={{this.model.menuItems}}
            @editOptions={{this.model.editOptions}}
            @order={{this.model.order}}
            @isNewOrder={{true}}
            @onCancelOrder={{this.clearOrder}}
            @preOrderSubmit={{this.preOrderSubmit}}
            @onOrderSubmitted={{this.newOrder}}/>
</div>