<div class="container-fluid order-view">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-6">
      <h2>Orders</h2>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <div class="dropdown filter-dropdown">
        {{#btn/btn-default class="btn-default btn-filter btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
          <span>
            Order: {{orderTypeFilter}}
          </span>
          <span class="caret"></span>
        {{/btn/btn-default}}
        <ul class="dropdown-menu dropdown-menu-right">
          {{#each orderTypes as |orderType|}}
            <li><a {{action "setOrderTypeFilter" orderType}}>{{orderType}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <div class="dropdown filter-dropdown">
        {{#btn/btn-default class="btn-default btn-filter btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
          <span>
            Payment: {{paymentTypeFilter}}
          </span>
          <span class="caret"></span>
        {{/btn/btn-default}}
        <ul class="dropdown-menu dropdown-menu-right">
          {{#each paymentTypes as |paymentType|}}
            <li><a {{action "setPaymentTypeFilter" paymentType}}>{{paymentType}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      {{#unless ordersSortedByTimestamp}}
        <div class="text-center no-orders">
          <span>No orders to display</span>
        </div>
      {{else}}
        <ul class="list-group">
          {{#each ordersSortedByTimestamp as |order|}}
            {{#if order.id}}
              {{order-list-item order=order onEditOrder=(action "editOrder") onPrintOrder=(action "printOrder")}}
            {{/if}}
          {{/each}}
        </ul>
      {{/unless}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <div class="page-header">
        <h2>Totals</h2>
      </div>
    </div>
  </div>
  <div class="row gutter-bottom">
    <div class="col-xs-3 text-right">
      <p>Cash</p>
      <p>Card</p>
      <p>Online</p>
      <p>Not Paid</p>
      <p>Total</p>
    </div>
    <div class="col-xs-3">
      <strong>
        <p>{{format-currency totalCash}}</p>
        <p>{{format-currency totalCard}}</p>
        <p>{{format-currency totalOnline}}</p>
        <p>{{format-currency totalNotPaid}}</p>
        <p>{{format-currency totalAll}}</p>
      </strong>
    </div>
    <!--
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      {{#btn/btn-default class="btn-primary" action="printOrderSummary"}}
        Print summary
      {{/btn/btn-default}}
    </div>
    -->
  </div>
</div>