<div class="row pt-2">
  <div class="col-12 text-center">
    <h1>Orders</h1>
  </div>
  <div class="col">
    <div class="dropdown">
      <button type="button" class="btn btn-block btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Order: {{orderTypeFilter}}
      </button>
      <div class="dropdown-menu w-100 full-tap-dropdown">
        {{#each orderTypes as |orderType|}}
          <a class="dropdown-item" {{action "setOrderTypeFilter" orderType}}>{{orderType}}</a>
          <div class="dropdown-divider"></div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">
      <button type="button" class="btn btn-block btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Payment: {{paymentTypeFilter}}
      </button>
      <div class="dropdown-menu w-100 full-tap-dropdown">
        {{#each paymentTypes as |paymentType|}}
          <a class="dropdown-item" {{action "setPaymentTypeFilter" paymentType}}>{{paymentType}}</a>
          <div class="dropdown-divider"></div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="row pt-2">
  <div class="col">
    {{#unless ordersSortedByTimestamp}}
      <div class="text-center text-muted">
        No orders to display
      </div>
    {{else}}
      <ul class="list-group">
        {{#each ordersSortedByTimestamp as |order|}}
          {{#if order.id}}
            {{order-list-item order=order
                              onEditOrder=(action "editOrder")
                              onPrintOrder=(action "printOrder")}}
          {{/if}}
        {{/each}}
      </ul>
    {{/unless}}
  </div>
</div>
<div class="row pt-2">
  <div class="col-12 text-center">
    <h2>Totals</h2>
  </div>
</div>
<div class="row">
  <div class="col-4 text-right">
    Cash
  </div>
  <div class="col-1">
    {{numberOfCashOrders}}
  </div>
  <div class="col-4">
    <strong>{{format-currency totalCash}}</strong>
  </div>
</div>
<div class="row">
  <div class="col-4 text-right">
    Card
  </div>
  <div class="col-1">
    {{numberOfCardOrders}}
  </div>
  <div class="col-4">
    <strong>{{format-currency totalCard}}</strong>
  </div>
</div>
<div class="row">
  <div class="col-4 text-right">
    Online
  </div>
  <div class="col-1">
    {{numberOfOnlineOrders}}
  </div>
  <div class="col-4">
    <strong>{{format-currency totalOnline}}</strong>
  </div>
</div>
{{#if totalNotPaid}}
  <div class="row">
    <div class="col-4 text-right">
      Not paid
    </div>
    <div class="col-1">
      {{numberOfNotPaidOrders}}
    </div>
    <div class="col-4">
      <strong>{{format-currency totalNotPaid}}</strong>
    </div>
  </div>
{{/if}}
<div class="row">
  <div class="col-4 text-right">
    Total
  </div>
  <div class="col-1">
    {{numberOfTotalOrders}}
  </div>
  <div class="col-4">
    <strong>{{format-currency totalAll}}</strong>
  </div>
</div>