<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <div class="page-header">
        <h2>Orders</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <ul class="list-group">
        {{#each ordersSortedByTimestamp as |order|}}
          {{#if order.id}}
            {{order-list-group-item order=order onPrintOrder=(action "printOrder")}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <div class="page-header">
        <h2>Totals</h2>
      </div>
    </div>
  </div>
  <div class="row gutter-bottom">
    <div class="col-xs-2 text-right">
      <p>Cash</p>
      <p>Card</p>
      <p>Not Paid</p>
      <p>Total</p>
    </div>
    <div class="col-xs-2">
      <strong>
        <p>{{format-currency totalCash}}</p>
        <p>{{format-currency totalCard}}</p>
        <p>{{format-currency totalNotPaid}}</p>
        <p>{{format-currency totalAll}}</p>
      </strong>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      {{#btn/btn-default class="btn-primary" action="printOrderSummary"}}
        Print summary
      {{/btn/btn-default}}
    </div>
  </div>
</div>