<div class="customer-select full-screen-modal">
  {{delivery-customer-search customer=customer
                             onSearchStatusChange=(action "updateSearchInProgress")
                             onSearch=(action "setDeliveryCustomerResults")}}
  {{#unless canSaveCustomer}}
    <div class="row customer-select_alert">
      <div class="col-12 offset-sm-1 col-sm-10">
        <div class="alert alert-{{if validCustomer "info" "danger"}}">
          {{if customer.invalidTelephone customer.invalidTelephoneReason}}
          {{if customer.invalidAddress customer.invalidAddressReason}}
          {{if customer.invalidPostcode customer.invalidPostcodeReason}}
          <strong>Must be unique to save customer</strong>
        </div>
      </div>
    </div>
  {{/unless}}
  <div class="row customer-select_actions">
    {{#if canSaveCustomer}}
      <div class="col-6 offset-sm-1 col-sm-5">
        <button type="button" class="btn btn-main-secondary btn-lg btn-block" {{action "cancel"}}>
          Cancel
        </button>
      </div>
      <div class="col-6 col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block" {{action "save"}}>
          Save
        </button>
      </div>
    {{else}}
      <div class="col-12 offset-sm-6 col-sm-5">
        <button type="button" class="btn btn-main-secondary btn-lg btn-block" {{action "cancel"}}>
          Cancel
        </button>
      </div>
    {{/if}}
  </div>
  <div class="row customer-select_results">
    <div class="col-12 offset-sm-1 col-sm-10">
      {{#if searchInProgress}}
        {{loading-spinner text="Searching customers..."}}
      {{else}}
        {{#if deliveryCustomerResults}}
          <ul class="list-group">
            {{#each deliveryCustomerResults as |customer|}}
              <button type="button" class="list-group-item list-group-item-action" {{action "selectCustomer" customer}}>
                <div>
                  {{customer.address}}<br>
                  {{customer.postcode}}<br>
                  {{customer.telephone}}
                </div>
              </button>
            {{/each}}
          </ul>
        {{else}}
          {{#if validQuery}}
            <div class="text-center">
              <div class="text-muted">No customers found</div>
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>