<div class="d-flex w-100 justify-content-between">
  <div>
    {{component (concat "order-" customerType) customer=order.customer}}
    <span>£{{format-currency order.total}} {{format-payment-method order.paymentMethod}}</span>
  </div>
  <small>{{format-date-time order.dateTime}}</small>
</div>
<div class="w-100">
  {{#if showOrderItems}}
    {{#if order.notes}}
      <div>{{order.notes}}</div>
    {{/if}}
    <ul class="list-group">
      {{#each order.orderItems as |orderItem|}}
        <li class="list-group-item">
          <div>
            <div>
              {{orderItem.quantity}} x {{orderItem.menuItem.menuId}} {{orderItem.menuItem.name}}
            </div>
            {{#each orderItem.editOptions as |editOption|}}
              <div>{{editOption.name}}</div>
            {{/each}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-block btn-secondary mt-2" {{action "editOrder" order.id}}>
        Edit order
      </button>
    </div>
    <div class="col-6">
      <div class="dropdown">
        <button type="button" class="btn btn-block btn-secondary dropdown-toggle mt-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Print order
        </button>
        <div class="dropdown-menu w-100 full-tap-dropdown">
          <a class="dropdown-item"{{action "printOrderAsEatIn"}}>Print small</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"{{action "printOrderAsDelivery"}}>Print big</a>
        </div>
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-block btn-link mt-2" {{action "toggleShowOrderItems"}}>
        {{#if showOrderItems}}
          Hide items
        {{else}}
          Show items
        {{/if}}
      </button>
    </div>
  </div>
</div>
