{{talaythai-nav}}
<div style="padding-top:50px"></div>
<div class="row top-bottom-gutter">
  <div class="col-xs-12">
    <form class="form-horizontal">
      {{#form-group label="Telephone"}}
        <div class="input-group">
          {{input class="form-control" type="number" placeholder="Telephone" value=model.telephone}}
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-earphone"></span>
          </span>
        </div>
      {{/form-group}}
      {{form-group label="Flat/House" type="text" placeholder="Flat or house number" value=model.addressOne}}
      {{form-group label="Address" type="text" placeholder="Road name" value=model.addressTwo}}
      {{form-group label="Postcode" type="text" placeholder="Postcode" value=model.postcode}}
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-offset-7 col-sm-5 col-md-offset-8 col-md-4 left-right-gutter">
    {{#btn-button class="btn-primary btn-lg" action="searchCustomer" disabled=emptySearch}}Search{{/btn-button}}
  </div>
</div>
<div class="row top-bottom-gutter left-right-gutter">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10">
    {{delivery-customer-list deliveryCustomers=deliveryCustomerResults selectDeliveryCustomer=(action "transitionToCustomer")}}
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    {{outlet}}
  </div>
</div>
