<div class="row order_edit">
  <div class="col-12 col-sm-11 order_edit_left">
    <div class="row order_edit_left_categories">
      {{#each sortedCategories as |category|}}
        <div class="col-4 col-sm-3 col-md-2 px-0" {{action "selectCategory" category}}>
          {{category-item category=category selected=selectedCategory}}
        </div>
      {{/each}}
    </div>
    <div class="row order_edit_left_bottom">
      <div class="col-12 col-sm-7 col-md-8 order_edit_left_bottom_menu">
        <ul class="list-group">
          {{#each sortedMenu as |menuItem|}}
            <button type="button" class="list-group-item list-group-item-action" {{action "addMenuItem" menuItem}}>
              {{#if menuItem.menuId}}
                <strong>{{menuItem.menuId}}</strong>&nbsp;
              {{/if}}
              {{menuItem.name}}
            </button>
          {{/each}}
        </ul>
      </div>
      <div class="hidden-xs col-sm-5 col-md-4 order_edit_left_bottom_numpad">
        <div class="row">
          <div class="col-12 text-center">
            <span>{{numpadValue}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{number-pad value=numpadValue onChange=(action "onNumpadValueChange") maxLength=4}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
    {{!outlet}}
  </div>
</div>
