<div class="row order_edit">
  <div class="col-12 col-sm-7 col-md-8 order_edit_left">
    <div class="row hidden-sm-up order_edit_left_customer">
      <div class="col">
        {{inline-customer-input customer=customer
                                onSelectTakeaway=(action "setNewTakeawayCustomer")
                                onSelectDelivery=(action "toggleCustomerSelect")
                                onSelectOnline=(action "setNewOnlineCustomer")}}
      </div>
      {{#if customer}}
        <button type="button" class="close pl-1 pr-3" {{action "removeCustomer"}}>
          <span aria-hidden="true">&times;</span>
        </button>
      {{/if}}
    </div>
    <div class="row order_edit_left_categories">
      {{#each sortedCategories as |category|}}
        <div class="col-4 col-sm-3 col-md-2 px-0" {{action "selectCategory" category}}>
          {{category-item category=category selected=selectedCategory}}
        </div>
      {{/each}}
    </div>
    <div class="row order_edit_left_bottom">
      <div class="col-12 col-sm-7 col-md-8 order_edit_left_bottom_menu">
        <ul class="list-group">
          {{#each sortedMenu as |menuItem|}}
            <button type="button" class="list-group-item list-group-item-action" {{action "addMenuItem" menuItem}}>
              {{#if menuItem.menuId}}
                <strong>{{menuItem.menuId}}</strong>&nbsp;
              {{/if}}
              {{menuItem.name}}
            </button>
          {{/each}}
        </ul>
      </div>
      <div class="hidden-xs-down col-sm-5 col-md-4 order_edit_left_bottom_numpad">
        <div class="row">
          <div class="col-12 text-center">
            <span>{{numpadValue}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{number-pad value=numpadValue onChange=(action "onNumpadValueChange") maxLength=4}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-xs-down col-sm-5 col-md-4 order_edit_right">
    <div class="row order_edit_right_customer">
      <div class="col">
        {{inline-customer-input customer=customer
                                onSelectTakeaway=(action "setNewTakeawayCustomer")
                                onSelectDelivery=(action "toggleCustomerSelect")
                                onSelectOnline=(action "setNewOnlineCustomer")}}
      </div>
      {{#if customer}}
        <button type="button" class="close pl-1 pr-3" {{action "removeCustomer"}}>
          <span aria-hidden="true">&times;</span>
        </button>
      {{/if}}
    </div>
    <div class="row order_edit_right_order_items">
      <div class="col">
        <ul class="list-group">
          {{#each orderService.items as |item|}}
            {{order-item item=item editOptions=model.editOptions onDecrement=(action "decrementOrderItem")}}
          {{/each}}
        </ul>
      </div>
    </div>
    {{#if orderService.size}}
      <div class="row order_edit_right_order_info text-center">
        <div class="col">
          {{orderService.size}} item{{#unless (is-equal 1 orderService.size)}}s{{/unless}}
        </div>
        <div class="col">
          £{{format-currency orderService.total}}
        </div>
      </div>
    {{/if}}
    <div class="row order_edit_right_actions">
      <div class="col">
        <button type="button" class="btn btn-lg btn-block btn-danger" disabled={{emptyCustomerAndOrder}} {{action
            "confirmCancelOrder"}}>Cancel
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-lg btn-block btn-success" disabled={{invalidOrder}}>Submit</button>
      </div>
    </div>
  </div>
</div>

{{#unless emptyOrder}}
  <button type="button" class="btn btn-order hidden-sm-up" disabled={{emptyOrder}} {{action "toggleOrderModal"}}>
    {{orderService.size}}
  </button>
{{/unless}}

{{#if showOrderModal}}
  <div class="order-modal full-screen-modal">
    <div class="row order-modal_items">
      <div class="col">
        <ul class="list-group">
          {{#each orderService.items as |item|}}
            {{order-item item=item editOptions=model.editOptions onDecrement=(action "decrementOrderItem")}}
          {{/each}}
        </ul>
      </div>
    </div>
    {{#if orderService.size}}
      <div class="row text-center">
        <div class="col">
          {{orderService.size}} item{{#unless (is-equal 1 orderService.size)}}s{{/unless}}
        </div>
        <div class="col">
          £{{format-currency orderService.total}}
        </div>
      </div>
    {{/if}}
    <div class="row order-modal_actions">
      <div class="col">
        <button type="button" class="btn btn-lg btn-block btn-danger" disabled={{emptyCustomerAndOrder}} {{action
            "confirmCancelOrder"}}>Cancel
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-lg btn-block btn-success" disabled={{invalidOrder}}>Submit</button>
      </div>
    </div>
    <div class="row order-modal_actions">
      <div class="col">
        <button type="button" class="btn btn-lg btn-block btn-secondary" {{action "toggleOrderModal"}}>Close</button>
      </div>
    </div>
  </div>
{{/if}}

{{#if showCustomerSelect}}
  {{customer-select customer=customer}}
{{/if}}