<div class="row order-edit">
  <div class="col-12 col-sm-7 col-md-8 order-edit_left">
    <div class="row hidden-sm-up order-edit_left_customer">
      <div class="col">
        {{inline-customer-input customer=customer
                                focus=focusOrderIdField
                                onSelectTakeaway=(action "setNewTakeawayCustomer")
                                onSelectDelivery=(action "toggleCustomerSelect")
                                onSelectOnline=(action "setNewOnlineCustomer")}}
      </div>
      {{#if customer}}
        <button type="button" class="close pl-1 pr-3" {{action "removeCustomer"}}>
          <span aria-hidden="true">&times;</span>
        </button>
      {{/if}}
    </div>
    <div class="row order-edit_left_categories">
      {{#each sortedCategories as |category|}}
        <div class="col-4 col-sm-3 col-md-2 px-0" {{action "selectCategory" category}}>
          {{category-item category=category selected=selectedCategory}}
        </div>
      {{/each}}
    </div>
    <div class="row order-edit_left_bottom">
      <div class="col-12 col-sm-7 col-md-8 order-edit_left_bottom_menu">
        <ul class="list-group">
          {{#each sortedMenu as |menuItem|}}
            <button type="button" class="list-group-item list-group-item-action" {{action "addMenuItem" menuItem}}>
              {{#if menuItem.menuId}}
                <strong>{{menuItem.menuId}}</strong>&nbsp;
              {{/if}}
              {{menuItem.name}}
            </button>
          {{/each}}
        </ul>
      </div>
      <div class="hidden-xs-down col-sm-5 col-md-4 order-edit_left_bottom_numpad">
        <div class="row">
          <div class="col-12 h2 text-center">
            <span>{{numpadValue}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{number-pad value=numpadValue onChange=(action "onNumpadValueChange") maxLength=4}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-xs-down col-sm-5 col-md-4 order-edit_right">
    <div class="row order-edit_right_customer">
      <div class="col">
        {{inline-customer-input customer=customer
                                focus=focusOrderIdField
                                onSelectTakeaway=(action "setNewTakeawayCustomer")
                                onSelectDelivery=(action "toggleCustomerSelect")
                                onSelectOnline=(action "setNewOnlineCustomer")}}
      </div>
      {{#if customer}}
        <button type="button" class="close pl-1 pr-3" {{action "removeCustomer"}}>
          <span aria-hidden="true">&times;</span>
        </button>
      {{/if}}
    </div>
    <div class="row order-edit_right_order_items">
      <div class="col">
        <ul class="list-group">
          {{#each items as |item|}}
            {{order-item item=item editOptions=model.editOptions onDecrement=(action "decrementOrderItem")}}
          {{/each}}
        </ul>
      </div>
    </div>
    {{#if size}}
      <div class="row order-edit_right_order_info text-center">
        <div class="col">
          {{size}} item{{#unless (is-equal 1 size)}}s{{/unless}}
        </div>
        <div class="col">
          £{{format-currency total}}
        </div>
      </div>
    {{/if}}
    <div class="row order-edit_right_actions">
      <div class="col-6">
        {{#if emptyCustomerAndOrder}}
          <button type="button" class="btn btn-lg btn-block btn-secondary" {{action "back"}}>
            Back
          </button>
        {{else}}
          <button type="button" class="btn btn-lg btn-block btn-danger" disabled={{emptyCustomerAndOrder}} {{action "confirmCancelOrder"}}>
            Cancel
          </button>
        {{/if}}
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-lg btn-block btn-success" disabled={{invalidOrder}} {{action "toggleConfirmOrder"}}>
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-order hidden-sm-up" {{action "toggleOrderModal"}}>
  {{size}} item{{#unless (is-equal 1 size)}}s{{/unless}}
</button>

{{#if showOrderModal}}
  <div class="order-modal full-screen-modal">
    <div class="row order-modal_items">
      <div class="col">
        <ul class="list-group">
          {{#each items as |item|}}
            {{order-item item=item editOptions=model.editOptions onDecrement=(action "decrementOrderItem")}}
          {{/each}}
        </ul>
      </div>
    </div>
    {{#if size}}
      <div class="row text-center">
        <div class="col">
          {{size}} item{{#unless (is-equal 1 size)}}s{{/unless}}
        </div>
        <div class="col">
          £{{format-currency total}}
        </div>
      </div>
    {{/if}}
    <div class="row order-modal_actions">
      <div class="col-6">
        {{#if emptyCustomerAndOrder}}
          <button type="button" class="btn btn-lg btn-block btn-secondary" {{action "back"}}>
            Back
          </button>
        {{else}}
          <button type="button" class="btn btn-lg btn-block btn-danger" disabled={{emptyCustomerAndOrder}} {{action "confirmCancelOrder"}}>
            Cancel
          </button>
        {{/if}}
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-lg btn-block btn-success" disabled={{invalidOrder}} {{action "toggleConfirmOrder"}}>
          Submit
        </button>
      </div>
    </div>
    <div class="row order-modal_actions">
      <div class="col-12">
        <button type="button" class="btn btn-lg btn-block btn-secondary" {{action "toggleOrderModal"}}>Close</button>
      </div>
    </div>
  </div>
{{/if}}

{{#if showCustomerSelect}}
  {{customer-select customer=customer
                    validCustomer=validCustomer
                    selectCustomer=(action "selectDeliveryCustomer")
                    saveCustomer=(action "saveAndSelectDeliveryCustomer")
                    cancel=(action "toggleCustomerSelect")}}
{{/if}}

{{#if showConfirmOrder}}
  <div class="confirm-order-modal full-screen-modal">
    <div class="row confirm-order-modal_header">
      <div class="col text-center lead">
        Confirm order
      </div>
    </div>
    <div class="row confirm-order-modal_order-list">
      <div class="col offset-sm-1 col-sm-10">
        <ul class="list-group">
          {{#each items as |item|}}
            {{order-item item=item editOptions=model.editOptions onDecrement=(action "decrementOrderItem")}}
          {{/each}}
        </ul>
      </div>
    </div>
    {{#if size}}
      <div class="row confirm-order-modal_info text-center">
        <div class="col">
          {{size}} item{{#unless (is-equal 1 size)}}s{{/unless}}
        </div>
        <div class="col">
          £{{format-currency total}}
        </div>
      </div>
    {{/if}}
    <div class="row confirm-order-modal_select">
      <div class="col-6 offset-sm-1 col-sm-5">
        <div>
          Estimated time ({{format-time computedEstimate}})
        </div>
        {{select-component content=estimatedTimes selectedValue=estimatedTime action=(action (mut estimatedTime))}}
      </div>
      <div class="col-6 col-sm-5">
        <div>
          Payment method
        </div>
        {{select-component content=paymentMethods selectedValue=paymentMethod action=(action (mut paymentMethod))}}
      </div>
    </div>
    <div class="row confirm-order-modal_notes">
      <div class="col-12 offset-sm-1 col-sm-10">
        <div>
          Notes
        </div>
        {{textarea class="form-control" rows="2" value=notes}}
      </div>
    </div>
    <div class="row confirm-order-modal_actions">
      <div class="col-6 offset-sm-1 col-sm-5">
        <button type="button" class="btn btn-secondary btn-lg btn-block" {{action "toggleConfirmOrder"}}>
          Cancel
        </button>
      </div>
      <div class="col-6 col-sm-5">
        <button type="button" class="btn btn-success btn-lg btn-block" disabled={{invalidOrder}} {{action "submitOrder"}}>
          Confirm order
        </button>
      </div>
    </div>
  </div>
{{/if}}