<div class="container-fluid order-edit">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-8">
      <div class="order-edit__top-container">
        {{outlet "top-container"}}
      </div>
      <div class="row order-edit__categories">
        {{category-list categories=model.categories
            onCategorySelected=(action "selectCategory")
            selectedCategory=selectedCategory}}
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8 order-edit__menu">
          {{menu-list menu=sortedMenu
              onMenuItemClick=(action "addMenuItem")
              categoryFilter=selectedCategory
              menuIdFilter=numpadValue}}
        </div>
        <div class="hidden-xs col-sm-5 col-md-4 order-edit__numpad">
          <div class="row order-edit__numpad-value">
            <div class="col-xs-12 text-center">
              <span>{{numpadValue}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              {{number-pad value=numpadValue maxLength=4}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-md-4">
      {{outlet}}
    </div>
  </div>
  <div class="order-edit__float-bottom-container">
    {{outlet "float-bottom-container"}}
  </div>
</div>
