<div class="order-edit">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-8">
      <div class="order-edit__top-container">
        {{outlet "top-container"}}
      </div>
      <div class="row order-edit__categories">
        {{#each sortedCategories as |category|}}
          <div class="col-xs-4 col-sm-3 col-md-2 no-padding" {{action "selectCategory" category}}>
            {{category-item category=category selected=selectedCategory}}
          </div>
        {{/each}}
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8 order-edit__menu">
          <ul class="list-group">
            {{#each sortedMenu as |menuItem|}}
              {{menu-list-item menuItem=menuItem onMenuItemClick=(action "addMenuItem")}}
            {{/each}}
          </ul>
        </div>
        <div class="hidden-xs col-sm-5 col-md-4 order-edit__numpad">
          <div class="row order-edit__numpad-value">
            <div class="col-xs-12 text-center">
              <span>{{numpadValue}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              {{number-pad value=numpadValue onChange=(action "onNumpadValueChange") maxLength=4}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-md-4">
      {{outlet}}
    </div>
  </div>
  {{outlet "order-edit-bottom"}}
</div>
