<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-even">
        <span class="icon-32 {{this.customerIconClass}}"></span>
      </div>
      <div class="flex-fill flex-column text-center">
        {{#each this.customerInfoArray as |customerInfo|}}
          <div>{{customerInfo}}</div>
        {{/each}}
      </div>
      <div class="flex-even d-flex justify-content-end">
        <small>{{format-date-time @order.dateTime}}</small>
      </div>
    </div>
    {{#if (eq this.customerModelName "customer/delivery")}}
      <div class="text-center mb-3">
        {{#each @order.customer.deliveryCustomerTags as |tag|}}
          <Customer::DeliveryTag @tag={{tag}} />
        {{/each}}
      </div>
      <div class="text-center mb-3">
        <div class="dropdown" test-id="add-tag-dropdown">
          <button type="button" class="btn btn-main-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
            Add tag
          </button>
          <div class="dropdown-menu dropdown-menu-left">
            {{#each @deliveryCustomerTags as |tag|}}
              <button type="button" class="dropdown-item" {{on "click" (fn this.addDeliveryCustomerTag tag)}}>
                <Customer::DeliveryTag @tag={{tag}} />
              </button>
            {{/each}}
          </div>
        </div>
      </div>
    {{/if}}
    <div class="text-center mb-3">
      <Order::PaymentMethodUpdateButton @order={{@order}}/>
    </div>
    <Order::DetailsActions @order={{@order}} @editRoute="order.eat-out" @onPrintOrder={{@onPrintOrder}}/>
  </div>
</div>