<div class="dropdown">
  <button test-id="order-card-payment-info" type="button" class="btn btn-main-secondary dropdown-toggle" id="order-{{@order.id}}-dropdown-payment-method-btn" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
    {{format-payment-method @order.paymentMethod}} £{{format-currency @order.total}}
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="order-{{@order.id}}-dropdown-payment-method-btn">
    {{#each-in this.paymentMethods as |key value|}}
      <button type="button" class="dropdown-item" {{on "click" (fn this.updatePaymentMethod value)}}>
        {{key}}
      </button>
    {{/each-in}}
  </div>
</div>