<div class="text-center mb-3">
  {{#if @order.orderModifier}}
    <div test-id="order-modifier">
      <div>Sub-total: £{{format-currency @order.total}}</div>
      <div>Discount: {{@order.modifierData}}</div>
    </div>
  {{/if}}
  <div class="dropdown">
    <button test-id="order-card-payment-info" type="button" class="btn btn-main-secondary dropdown-toggle" id="order-{{@order.id}}-dropdown-payment-method-btn" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
      {{format-payment-method @order.paymentMethod}} £{{format-currency (if @order.orderModifier @order.modifiedTotal @order.total)}}
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="order-{{@order.id}}-dropdown-payment-method-btn">
      {{#each-in this.paymentMethods as |key value|}}
        <button type="button" class="dropdown-item" {{on "click" (fn this.updatePaymentMethod value)}}>
          {{key}}
        </button>
      {{/each-in}}
    </div>
  </div>
</div>