{{#if this.ui.toastModels}}
  <div class="app-toasts pb-4 d-flex flex-column align-items-center">
    {{#each this.ui.toastModels as |toastModel|}}
      <Toast @model={{toastModel}} @removeFromDOM={{this.ui.removeToast}}/>
    {{/each}}
  </div>
{{/if}}

{{#if this.ui.appLoaderShown}}
  <div class="app-loader d-flex justify-content-center align-items-center">
    <LoadingSpinner @text={{this.ui.model.message}}/>
  </div>
{{/if}}

{{#if this.ui.appOverlayShown}}
  <div role="button" {{on "click" (fn this.ui.dismissAppOverlay)}} class="app-overlay d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h2>{{this.ui.model.title}}</h2>
      {{this.this.ui.model.message}}
      <div class="text-muted">
        <small>Tap anywhere to dismiss</small>
      </div>
    </div>
  </div>
{{/if}}

{{#if this.ui.confirmShown}}
  <EmberWormhole @to={{this.ui.appModalContainerId}}>
    <Modal::Confirm @title={{this.ui.model.title}}
                    @body={{this.ui.model.message}}
                    @btnClass={{this.ui.model.btnClass}}
                    @btnText={{this.ui.model.btnText}}
                    @onDismiss={{this.ui.onDismissConfirm}}
                    @onConfirm={{this.ui.onConfirmConfirm}}/>
  </EmberWormhole>
{{/if}}

<div id="{{this.ui.appModalContainerId}}"></div>

{{outlet}}