{{outlet "loader"}}

{{outlet "overlay"}}

{{outlet "confirm"}}

<div class="toast-container d-flex justify-content-center align-items-center">
  {{toast-component message=toastMessage}}
</div>

<div id="modal-wormhole">
</div>

<div class="container-fluid">
  {{outlet}}
</div>