<div class="customer-browser">
  <div class="container-fluid">

    <div id="customer-browser-top" class="left-right-gutter top-bottom-gutter">
      <div class="row top-bottom-gutter">
        <div class="col-xs-12">
          {{customer-form
              searchAddressRaw=searchAddressRaw
              searchPostcodeRaw=searchPostcodeRaw
              searchContactNumberRaw=searchContactNumberRaw}}
        </div>
      </div>
      <div class="row top-bottom-gutter">

        {{#if canSaveCustomer}}
          <div class="col-xs-6 col-sm-offset-2 col-sm-5 left-right-gutter">
            {{#btn-button class="btn-default btn-lg btn-close" action="hideCustomerBrowser"}}Cancel{{/btn-button}}
          </div>
          <div class="col-xs-6 col-sm-5">
            {{#btn-button class="btn-primary btn-lg" confirmAction=(action "saveAndSelectCustomer")
            showMessage="showMessage"
            confirmMessage=(concat "Confirm saving customer: " searchAddress " " searchPostcode ", " searchContactNumber)}}
              Save
            {{/btn-button}}
          </div>
        {{else}}
          <div class="col-xs-offset-6 col-xs-6 col-sm-offset-7 col-sm-5">
            {{#btn-button class="btn-default btn-lg btn-close" action="hideCustomerBrowser"}}Cancel{{/btn-button}}
          </div>
        {{/if}}

      </div>

      {{#unless canSaveCustomer}}
        <div class="row top-bottom-gutter">
          <div class="col-xs-offset-2 col-xs-10 col-md-9">
            {{#alert-box alertType="info"}}
              Please enter a unique address, postcode and an 11 digit contact number to
              save the customer
            {{/alert-box}}
          </div>
        </div>
      {{/unless}}
    </div>

    <div id="customer-browser-bottom" class="scroll-y">
      <div class="row top-bottom-gutter">
        <div class="col-xs-12 col-md-offset-1 col-md-10">

          {{#if debouncedSearch}}
            {{loading-spinner text="Searching customers..."}}
          {{else}}
            {{#if deliveryCustomerResults}}
              {{delivery-customer-list deliveryCustomers=deliveryCustomerResults selectDeliveryCustomer=(action "selectCustomer")}}
            {{else}}
              {{#if hasCustomerQuery}}
                <div class="text-center">
                  <div class="text-muted">No customers were found</div>
                </div>
              {{/if}}
            {{/if}}
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>