<div class="customer-browser">
  <div class="container-fluid">

    <div id="customer-browser-top" class="top-bottom-gutter">
      <div class="row top-bottom-gutter">
        <div class="col-xs-12">
          <form class="form-horizontal">
            {{#form-group label="Telephone" hasError=model.customer.invalidTelephone}}
              <div class="input-group">
                {{input class="form-control" type="number" placeholder="Telephone" value=model.customer.telephone}}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-earphone"></span>
                </span>
              </div>
            {{/form-group}}
            {{form-group label="Flat/House" type="text" placeholder="Flat or house number" value=model.customer.addressOne hasError=model.customer.invalidAddress}}
            {{form-group label="Address" type="text" placeholder="Road name" value=model.customer.addressTwo hasError=model.customer.invalidAddress}}
            {{form-group label="Postcode" type="text" placeholder="Postcode" value=model.customer.postcode hasError=model.customer.invalidPostcode}}
          </form>
        </div>
      </div>

      {{#unless canSaveCustomer}}
        <div class="row top-bottom-gutter">
          <div class="col-xs-12 col-sm-offset-2 col-sm-10 left-right-gutter">
            {{#alert-box alertType=(if validCustomer "info" "danger")}}
              {{if model.customer.invalidTelephone model.customer.invalidTelephoneReason}}
              {{if model.customer.invalidAddress model.customer.invalidAddressReason}}
              {{if model.customer.invalidPostcode model.customer.invalidPostcodeReason}}
              Must be unique to save customer
            {{/alert-box}}
          </div>
        </div>
      {{/unless}}

      <div class="row top-bottom-gutter left-right-gutter">

        {{#if canSaveCustomer}}
          <div class="col-xs-6 col-sm-offset-2 col-sm-5 left-right-gutter">
            {{#btn-button class="btn-default btn-lg btn-close" action="removeAndHideCustomerBrowser"}}Cancel{{/btn-button}}
          </div>
          <div class="col-xs-6 col-sm-5">
            {{#btn-button class="btn-primary btn-lg" confirmAction=(action "saveAndSelectCustomer")
            showMessage="showMessage"
            confirmMessage=(concat "Confirm saving customer: " model.customer.address (if model.customer.postcode (concat ", " model.customer.postcode)) ", " model.customer.telephone)}}
              Save
            {{/btn-button}}
          </div>
        {{else}}
          <div class="col-xs-12 col-sm-offset-7 col-sm-5">
            {{#btn-button class="btn-default btn-lg btn-close" action="removeAndHideCustomerBrowser"}}Cancel{{/btn-button}}
          </div>
        {{/if}}

      </div>

    </div>

    <div id="customer-browser-bottom" class="scroll-y">
      <div class="row top-bottom-gutter left-right-gutter">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">

          {{#if debouncedSearch}}
            {{loading-spinner text="Searching customers..."}}
          {{else}}
            {{#if deliveryCustomerResults}}
              {{delivery-customer-list deliveryCustomers=deliveryCustomerResults selectDeliveryCustomer=(action "selectCustomer")}}
            {{else}}
              {{#if hasCustomerQuery}}
                <div class="text-center">
                  <div class="text-muted">No customers were found</div>
                </div>
              {{/if}}
            {{/if}}
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>