<div class="customer-browser">
  <div class="container-fluid">

    <div id="customer-browser-top" class="gutter-top-bottom">
      <div class="row gutter-top-bottom">
        <div class="col-xs-12">
          <form class="form-horizontal">

            {{#form-group label="Telephone" hasError=model.customer.invalidTelephone}}
              <div class="input-group">
                {{input class="form-control" type="number" placeholder="Telephone" value=model.customer.telephone}}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-earphone"></span>
                </span>
              </div>
            {{/form-group}}

            {{form-group label="Flat/House" type="text" placeholder="Flat or house number" value=model.customer.addressOne hasError=model.customer.invalidAddress}}

            {{#form-group label="Address" hasError=model.customer.invalidAddress}}
              <div class="dropdown">
                {{input id="addressSuggestionDropdownTrigger" class="form-control" type="text" placeholder="Road" value=model.customer.addressTwo data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
                <ul class="dropdown-menu lead" style="width: 100%;">
                  {{#each roadSuggestions as |road index|}}
                    <li><a class="lead"{{action "setAddressTwo" road.name}}>{{road.name}}</a></li>
                    {{#unless (is-equal index (minus roadSuggestions.length 1))}}
                      <!-- Do not add separator if last element -->
                      <li role="separator" class="divider"></li>
                    {{/unless}}
                  {{else}}
                    {{#if roadSuggestionError}}
                      <li><a>Error while searching</a></li>
                    {{else}}
                      <li><a>No results</a></li>
                    {{/if}}
                  {{/each}}
                </ul>
              </div>
            {{/form-group}}

            {{#form-group label="Postcode" hasError=model.customer.invalidPostcode}}
              <div class="dropdown">
                {{input id="postcodeSuggestionDropdownTrigger" class="form-control" type="text" placeholder="Postcode" value=model.customer.postcode data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
                <ul class="dropdown-menu lead" style="width: 100%;">
                  {{#each postcodeSuggestions as |postcode index|}}
                    <li><a class="lead"{{action "setPostcode" postcode.postcode}}>{{postcode.postcode}}</a></li>
                    {{#unless (is-equal index (minus postcodeSuggestions.length 1))}}
                      <!-- Do not add separator if last element -->
                      <li role="separator" class="divider"></li>
                    {{/unless}}
                  {{else}}
                    {{#if postcodeSuggestionError}}
                      <li><a>Error while searching</a></li>
                    {{else}}
                      <li><a>No results</a></li>
                    {{/if}}
                  {{/each}}
                </ul>
              </div>
            {{/form-group}}

          </form>
        </div>
      </div>

      {{#unless canSaveCustomer}}
        <div class="row gutter-top-bottom">
          <div class="col-xs-12 col-sm-offset-2 col-sm-9">
            {{#alert-box alertType=(if validCustomer "info" "danger")}}
              {{if model.customer.invalidTelephone model.customer.invalidTelephoneReason}}
              {{if model.customer.invalidAddress model.customer.invalidAddressReason}}
              {{if model.customer.invalidPostcode model.customer.invalidPostcodeReason}}
              Must be unique to save customer
            {{/alert-box}}
          </div>
        </div>
      {{/unless}}

      <div class="row gutter-top-bottom">

        {{#if canSaveCustomer}}
          <div class="col-xs-6 col-sm-offset-1 col-sm-5">
            {{#btn-button class="btn-default btn-lg btn-close" action="removeAndHideCustomerBrowser"}}Cancel{{/btn-button}}
          </div>
          <div class="col-xs-6 col-sm-5">
            {{#btn-button class="btn-primary btn-lg" confirmAction=(action "saveAndSelectCustomer")
            showMessage="showMessage"
            confirmMessage=(concat "Confirm saving customer: " model.customer.address (if model.customer.postcode (concat ", " model.customer.postcode)) ", " model.customer.telephone)}}
              Save
            {{/btn-button}}
          </div>
        {{else}}
          <div class="col-xs-12 col-sm-offset-6 col-sm-5">
            {{#btn-button class="btn-default btn-lg btn-close" action="removeAndHideCustomerBrowser"}}Cancel{{/btn-button}}
          </div>
        {{/if}}

      </div>

    </div>

    <div id="customer-browser-bottom" class="scroll-y">
      <div class="row gutter-top-bottom">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">

          {{#if debouncedSearch}}
            {{loading-spinner text="Searching customers..."}}
          {{else}}
            {{#if deliveryCustomerResults}}
              {{delivery-customer-list deliveryCustomers=deliveryCustomerResults selectDeliveryCustomer=(action "selectCustomer")}}
            {{else}}
              {{#if hasCustomerQuery}}
                <div class="text-center">
                  <div class="text-muted">No customers were found</div>
                </div>
              {{/if}}
            {{/if}}
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>