<nav class="navbar navbar-dark bg-dark">
  <div class="flex-even">
    <LinkTo @route="delivery-customers" @tagName="button" type="button" @class="btn btn-outline-light">
      Back
    </LinkTo>
  </div>
  <span class="navbar-brand d-flex flex-even justify-content-center">Delivery customer tags</span>
  <span class="flex-even"></span>
</nav>
<div class="container">
  <div class="row mt-3">
    <div class="col">
      <Customer::DeliveryTagInput @name={{this.newTagName}}
                                  @colour={{this.newTagColour}}
                                  @onColour={{this.setNewTagColour}}>
        {{#if this.canCreate}}
          <button type="button" class="btn btn-primary" {{on "click" this.createDeliveryCustomerTag}}>
            Create
          </button>
        {{else}}
          <button type="button" class="btn btn-secondary" disabled>
            Create
          </button>
        {{/if}}
      </Customer::DeliveryTagInput>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-center">
      <h3>Tags</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      {{#each @model as |tag|}}
        <Customer::DeliveryTagCard @tag={{tag}}
                                   @onSave={{this.saveDeliveryCustomerTag}}
                                   @onDelete={{this.deleteDeliveryCustomerTag}}/>
      {{/each}}
    </div>
  </div>
</div>