<nav class="navbar navbar-dark bg-dark">
  <div class="flex-even">
    <LinkTo @route="index" @tagName="button" type="button" @class="btn btn-outline-light">
      Back
    </LinkTo>
  </div>
  <span class="navbar-brand d-flex flex-even justify-content-center">Delivery customers</span>
  <span class="flex-even"></span>
</nav>
<div class="container">
  <CustomerDeliverySearch @onCustomerSearchError={{this.ui.showAppOverlay}} as |cds|>
    <div class="row">
      <div class="col">
        {{#if cds.searching}}
          <LoadingSpinner @text="Searching customers..."/>
        {{else}}
          {{#each cds.deliveryCustomerSearchResults as |customer|}}
            <div class="card mb-3">
              <div class="card-body">
                <p>
                  {{customer.telephone}}<br>
                  {{#if customer.addressOne}}{{customer.addressOne}}<br>{{/if}}
                  {{#if customer.road}}{{customer.road}}<br>{{/if}}
                  {{customer.postcode}}
                </p>
                <ButtonWithConfirm class="btn-danger"
                                   @confirmTitle="Delete customer"
                                   @confirmMessage="Are you sure you want to delete this customer?"
                                   @confirmBtnClass="btn-danger"
                                   @confirmBtnText="Delete"
                                   @onConfirm={{fn this.deleteCustomer customer}}>
                  Delete
                </ButtonWithConfirm>
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </CustomerDeliverySearch>
</div>