<nav class="navbar navbar-dark bg-dark">
  <div class="flex-even">
    <LinkTo @route="index" @tagName="button" type="button" @class="btn btn-outline-light">
      Back
    </LinkTo>
  </div>
  <span class="navbar-brand flex-even d-flex justify-content-center">Delivery customers</span>
  <div class="flex-even d-flex justify-content-end">
    <LinkTo @route="delivery-customer-tags" @tagName="button" type="button" @class="btn btn-outline-light">
      Edit tags
    </LinkTo>
  </div>
</nav>
<div class="container">
  <Customer::DeliverySearch @onCustomerSearchError={{this.ui.showAppOverlay}} as |cds|>
    <div class="row">
      <div class="col">
        {{#if cds.searching}}
          <LoadingSpinner @text="Searching customers..."/>
        {{else}}
          {{#each cds.deliveryCustomerSearchResults as |customer|}}
            <Customer::DeliveryCard @customer={{customer}}
                                    @onEdit={{this.editCustomer}}
                                    @onDelete={{this.deleteCustomer}}/>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </Customer::DeliverySearch>
</div>