<nav class="navbar navbar-dark bg-dark">
  <div class="flex-even">
    <LinkTo @route="index" @tagName="button" type="button" @class="btn btn-outline-light">
      Back
    </LinkTo>
  </div>
  <span class="navbar-brand flex-even d-flex justify-content-center">Menu</span>
  <div class="flex-even d-flex justify-content-end">
    <div class="dropdown">
      <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/EPOSDataService/api/menu/export" rel="noreferrer noopener" target="_blank">
          Export menu <span class="icon-1em icon-new-tab"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="container pb-5">
  <ShowHideToggle as |showHide|>
    <div class="row mt-3">
      <div class="col-12">
        <button type="button" class="btn btn-main-secondary btn-lg btn-block text-left font-weight-bold" {{on "click" showHide.toggleShow}}>
          {{#if showHide.show}}
            <span class="icon-1em icon-chevron-up align-middle"></span>
          {{else}}
            <span class="icon-1em icon-chevron-down align-middle"></span>
          {{/if}}
          No category <small class="text-muted">({{this.this.noCategoryMenuItems.length}})</small>
        </button>
      </div>
    </div>
    {{#if showHide.show}}
      <div class="row mt-3">
        {{#each this.noCategoryMenuItems as |menuItem|}}
          <div class="col-12">
            <MenuItemCard @menuItem={{menuItem}}/>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </ShowHideToggle>
  {{#each this.categoriesAndMenuItems as |categoryMenuItem|}}
    <ShowHideToggle as |showHide|>
      <div class="row mt-3">
        <div class="col-12">
          <button type="button" class="btn btn-main-secondary btn-lg btn-block text-left font-weight-bold" {{on "click" showHide.toggleShow}}>
            {{#if showHide.show}}
              <span class="icon-1em icon-chevron-up align-middle"></span>
            {{else}}
              <span class="icon-1em icon-chevron-down align-middle"></span>
            {{/if}}
            {{categoryMenuItem.category.name}} <small class="text-muted">({{categoryMenuItem.menuItems.length}})</small>
          </button>
        </div>
      </div>
      {{#if showHide.show}}
        <div class="row mt-3">
          {{#each categoryMenuItem.menuItems as |menuItem|}}
            <div class="col-12">
              <MenuItemCard @menuItem={{menuItem}}/>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </ShowHideToggle>
  {{/each}}
</div>