<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">

    <div class="orderPad-categories">
      <div class="row">
      {{#each model.categories}}
        {{category-item category=this action="categoryItemClick"}}
      {{/each}}
      </div>
    </div>

    <div class="orderPad-menu">
      {{outlet "menu"}}
    </div>

    </div>
    <div class="col-md-6">

    <div class="orderPad-order">
      {{#each model.order.orderItems}}
        <div>
          {{this.quantity}} x {{this.menuItem.name}} {{this.total}}
        </div>
      {{/each}}

      <div>
        TOTAL: {{model.order.total}}
      </div>
    </div>

    </div>
  </div>
</div>
{{outlet}}
