<div class="container-fluid">
  <div class="row">


    <div class="col-sm-6">
      <div class="orderpad-categories">
        <div class="row">
          {{#each item in model.categories}}
            {{category-item category=item action="categoryItemClick"}}
          {{/each}}
        </div>
      </div>
      <div class="orderpad-menu">
        {{outlet "menu"}}
      </div>
    </div>

    <div class="col-sm-6">
      {{#orderpad-order order=model.order}}
        <div class="orderpad-summary pull-right">
          TOTAL: {{model.order.displayTotal}}
          {{submit-btn action="submitOrder"}}
        </div>
        {{toggle-menu}}
      {{/orderpad-order}}
    </div>


  </div>
</div>
{{outlet}}
