<div class="container-fluid">
  <div class="row">


    <div class="col-sm-6">
      <div class="orderPad-categories">
        <div class="row">
          {{#each model.categories}}
            {{category-item category=this action="categoryItemClick"}}
          {{/each}}
        </div>
      </div>
      <div class="orderPad-menu">
        {{outlet "menu"}}
      </div>
    </div>


    <div class="col-sm-6">
      <div class="orderPad-order">
        {{#each model.order.orderItems}}
          {{order-item orderItem=this action="orderItemClick"}}
        {{/each}}
      </div>
      <div class="orderPad-summary pull-right">
        TOTAL: {{model.order.total}}
        {{submit-btn action="submitOrder"}}
      </div>
    </div>


  </div>
</div>
{{outlet}}
